<%= content_for :hero do %>
  <div class="py-24 mb-16 bg-red-600 text-white">
    <div class="container mx-auto flex flex-wrap justify-center text-center">
      <h1 class="text-4xl lg:text-6xl font-black leading-tight">Find a Ruby on Rails Developer</h1>
      <p class="w-full text-lg text-red-100">The number one resource for Ruby on Rails developers</p>
      <div class="flex items-center mt-6 mb-3">
        <%= link_to "Find a developer", "#", class: "btn btn-white btn-outline py-3 px-6 lg:mr-2" %>
        <%= link_to "Find a job", jobs_path(anchor: "jobs-index"), class: "btn btn-white py-3 px-6 lg:ml-2" %>
      </div>
      <p class="w-full">or find developer friends in the <%= link_to "community", "#", class: "underline" %></p>
    </div>
  </div>
<% end %>

<div class="container mx-auto px-0 lg:px-48 mb-24">
  <%= render @jobs %>
</div>